@model GameStore.Models.Game

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top: 30px;">
    <div class="col-lg-push-4 col-lg-4">
        @using (Html.BeginForm("Create", "Game", FormMethod.Post))
        {
            <form data-toggle="validator" role="form">

                <div class="content"><h3>Новая игра</h3></div>

                @{
                    string name = "";
                    string company = "";
                    double price = 0;

                    if (Model != null)
                    {
                        name = Model.Name != null ? Model.Name : "";
                        company = Model.Company != null ? Model.Company : "";
                        price = Model.Price != 0 ? Model.Price : 0;
                    }
                }

                <div class="form-group">
                    <label for="nameGame">Название игры</label>
                    <input type="text" name="Name" value="@name" id="nameGame" class="form-control" placeholder="Введите название" required />
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="form-group">
                    <label for="gameCompany">Компания</label>
                    <input type="text" name="Company" value="@company" id="gameCompany" class="form-control" placeholder="Введите название компании" required />
                    @Html.ValidationMessageFor(model => model.Company)
                </div>

                <div class="form-group">
                    <label for="gamePrice">Цена</label>
                    <input type="text" name="Price" value="@price" id="gamePrice" class="form-control" placeholder="Введите цену" required />
                    @Html.ValidationMessageFor(model => model.Price)
                </div>

                <div style="padding-top: 10px;">
                    <button type="submit" class="btn btn-block">Добавить игру</button>
                </div>
            </form>
                    }
    </div>
</div>
