
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container col-sm-offset-3 col-sm-6">

    <div style="text-align: center;"><h2><label>Game Store</label></h2></div>

    @foreach (GameStore.Models.Game game in ViewBag.Games)
    {
        <div class="col-sm-12" style="background-color: white; border: 2px solid black; border-radius: 10px; margin: 10px; padding-top: 10px; padding-bottom: 10px;">
            <div class="col-sm-9">
                <h4><label>@game.Name</label></h4>
                <h5>Company: @game.Company</h5>
                <p><small>@game.Description</small></p>
            </div>

            @if (!GameStore.Models.UserAccess.Admin)
                {
                <div class="col-sm-3" style="text-align: right; padding-top: 10px;">
                    <a href="/Game/Buy?name=@game.Name" class="btn btn-success" style="width: 80%">Buy | @game.Price$</a>
                </div>
            }

            @if (GameStore.Models.UserAccess.Admin)
                {
                <div class="btn-group col-sm-3" style="text-align: right; padding-top: 10px;">
                    @Html.ActionLink("Edit", "Edit", "Game", new { id = game.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", "Game", new { id = game.Id }, new { @class = "btn btn-success " })
                </div>
            }
        </div>
    }

    <div style="text-align: center">
        @if (GameStore.Models.UserAccess.Admin)
            {
            <div class="form-group">
                @Html.ActionLink("Create game", "Create", "Game", new { @class = "btn btn-success" })
                @Html.ActionLink("Status: admin", "ChangeUser", "Game", new { @class = "btn btn-success" })
            </div>
        }
        @if (!GameStore.Models.UserAccess.Admin)
            {
            @Html.ActionLink("Status: buyer", "ChangeUser", "Game", new { @class = "btn btn-success" })
        }
    </div>

</div>

