
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Game Shop";
}

<div>
    <h3>Распродажа игр</h3>
    @{  string access = ViewBag.UserAccess; }
    <nav>
        @if (GameStore.Models.UserAccess.Admin)
        {
            @Html.ActionLink("Добавить игру", "Create", "Game")
        }
        @Html.ActionLink(access, "ChangeUser", "Game")
    </nav>
    <table>
        <tr>
            <td><p>Название игры</p></td>
            <td><p>Компания</p></td>
            <td><p>Цена</p></td>
        </tr>
        @foreach (var g in ViewBag.Games)
        {
            <tr>
                <td><p>@g.Name</p></td>
                <td><p>@g.Company</p></td>
                <td><p>@g.Price$</p></td>
                @if (GameStore.Models.UserAccess.Admin)
                {
                    <td><p><a href="/Game/Delete?id=@g.Id" />Удалить</p></td>
                    <td><p><a href="/Game/Edit?id=@g.Id" />Отредактировать</p></td>
                }
                @if (!GameStore.Models.UserAccess.Admin)
                {
                    <td><p><a href="/Game/Buy" />Купить игру</p></td>
                }
            </tr>
        }
    </table>
</div>